@font-face
  font-family 'j-icon'
  src url('./j-icon.eot')
  src url('./j-icon.eot?#iefix') format('embedded-opentype'), url('./j-icon.woff') format('woff2'), url('./j-icon.woff') format('woff'), url('./j-icon.ttf') format('truetype')

[class^='j-icon']
  font-family 'j-icon'
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  display inline-block
  font-style normal
  font-variant normal
  text-rendering auto
  line-height 1
  display inline-flex
