.background-image-fix
  background-attachment fixed
  background-position center center
  background-repeat no-repeat
  background-size cover

.flex
  display flex
  flex-wrap nowrap

.flex-vertical
  flex-direction column

.flex-horizontal
  flex-direction row

.flex-vertical-reverse
  flex-direction column-reverse

.flex-horizontal-reverse
  flex-direction row-reverse

.flex-fill
  flex-grow 1

.flex-wrap
  flex-wrap wrap

.flex-align-center
  align-items center

/* Vue Transition */
.fade-enter-active, .fade-leave-active
  transition opacity 0.2s

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity 0